*__pycache__
.idea
.config
.docker
.ipython
.jupyter
.local
.oh-my-zsh
.ssh
.bashrc
.condarc
.gitconfig
.hushlogin
.lightningignore
.profile
.sudo_as_admin_successful
.zcompdump
.zsh_history
.zshrc
.vscode
.lightning_studio
*.pth
.vimrc